<template>
  <v-container>
    <div class='d-flex flex-row align-center'>
      <v-text-field class="mr-3" label="Enter timer's name"></v-text-field>
      <v-btn>Add</v-btn>
    </div>
    <v-row>
      <v-col cols='4'>
        <v-list-item
          v-for='(item, i) in timers' :key='i'>
          <v-list-item-content>
            <v-list-item-title class="d-flex flex-row align-center justify-space-between">
              {{item.title}} - {{item.value}}
              <div>
                <v-btn class="mr-3" v-if="item.setIntervalInstance" v-on:click="stopTimer(item)">
                  pause
                </v-btn>
                <v-btn class="mr-3" v-else v-on:click="runTimer(item)">
                  continue
                </v-btn>
                <v-btn>delete</v-btn>
              </div>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Moment from 'moment';

export default {
  name: 'TimerComponent',
  data: () => ({
    timers: [{
      title: 'timer 1',
      value: '00:00:00',
    }, {
      title: 'timer 2',
      value: '00:00:00',
    }],
  }),
  methods: {
    initTimers() {
      if (window.localStorage.getItem('timers')) {
        this.timers = JSON.parse(window.localStorage.getItem('timers'));
      }
      this.timers.map((timer) => {
        this.runTimer(timer);
        return false;
      });
    },
    runTimer(timer) {
      timer.value = new Moment(timer.value, 'HH:mm:ss').add(1, 's').format('HH:mm:ss');
      if (!timer.setIntervalInstance) {
        timer.setIntervalInstance = setInterval(() => {
          this.runTimer(timer);
        }, 1000);
      }
    },
    stopTimer(timer) {
      clearInterval(timer.setIntervalInstance);
      timer.setIntervalInstance = false;
    },
  },
  mounted() {
    this.initTimers();
    window.addEventListener('beforeunload', () => {
      // save in localstorage timers
      window.localStorage.setItem('timers', JSON.stringify(this.timers, (key, value) => {
        let maskValue = value;
        if (key === 'setIntervalInstance') {
          maskValue = false;
        }
        return maskValue;
      }));
    });
  },
  watch: {
  },
};
</script>
